header {
    background-color: #00274C;
}

nav {
    display: grid;
    justify-content: center;
    background: #00274C;
    height: 150%;
    margin: 15px 15px 15px 15px;
}

nav a {
    font-family: sans-serif;
    color: #FFCB05;
    text-decoration: none;
    font-size: 125%;
    line-height: 150%;
    transition: 0.3s;
}

nav li {
    display: inline;
    text-align: center;
    color: #FFCB05;
    font-family: sans-serif;
    line-height: 150%;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
    border: 2px solid #FFFFFF
}

.skip a:focus {
    position: static;
    width: auto;
    height: auto;
    top: 20px;
    border: 2px solid #00274C;
    font-family: sans-serif;
    color: #FFCB05;
    border: 2px solid #FFFFFF;
}

.skip a {
    position: absolute;
    top: -40px;
    color: #FFCB05;
    transition: 0.3s;
}

*:focus {
    outline: none;
    border: 2px solid #00274C;
}

.footer {
    display: inline;
    font-size: 125%;
    background: #00274C;
    color: #FFCB05;
}

.footer a {
    color: #00274C;
    transition: 0.3s;
}

.footer a:hover {
    border: 2px solid #00274C;
}

body {
    background:#FFCB05;
    margin: 1%;
    font-size: 125%;
}

h1 {
    font-family: sans-serif;
    color: #00274C;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    grid-column: 1 / -1;
    line-height: 1.5em;
}

h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    grid-column: 1 / -1;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background: #FFCB05;
    gap: 15px;
    justify-items: center;
    color: #00274C;
    font-family: sans-serif;
    margin: 10% 10% 10% 10%;
    line-height: 145%;
}

.container div {
    display: grid;
    grid-column: 1 / -1;
}

.container section {
    grid-column: 1 / -1;
}

.container p {
    text-align: center;
    margin: 15px;
}

/* Caps styling

.container div.caps_info {
    grid-column: 1 / -1;
}

.container div.urgent {
    grid-column: 1 / -1;
}

.continer div.location_hours {
    grid-column: 1 / -1;
}

*/

.container img {
    width: 80%;
    border: 10px solid #00274C;
    display: block;
    margin: auto;
    gap: 20px;
    justify-self: center;
    align-self: center;
    grid-column: 1 / -1;
}

.container ul {
    justify-items: center;
}

.list p {
    font-weight: bold;
}

header img {
    min-height: 75px;
    width: 40%;
    display: block;
    margin: auto;
}

.active {
    text-decoration: underline;
}

.footer p.date {
    grid-column: 1 / -1;
}

.container div.error {
    font-size: 125%;
}

.container h1.error {
    font-size: 150%
}

@media screen and (min-width: 1024px) {
    .container {
        align-items: center;
    }

    .container div {
        grid-column: span 1;
    }

    .container section {
        grid-column: span 1;
    }

    .container div.caps_info:nth-of-type(3) {
        grid-column: 1 / -1;
    }

    header img {
        width: 20%;
    }

    .container p {
        font-size: 125%;
        line-height: 145%;
    }

    h2 {
        font-size: 150%;
        line-height: 170%;
    }

    .container li {
        font-size: 120%;
        line-height: 140%;
    }

    nav a, nav li {
        font-size: 125%;
        line-height: 150%;
    }

    .container div.studying {
        grid-column: 1 / -1;
        width: 75%;
    }

    .container div.tutor {
        grid-column: 1 / -1;
    }

    .container div.error {
        grid-column: 1 / -1;
    }
}